
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid" >
      <a class="navbar-brand" href="#"><h1>FoodConnects</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
        
          <li class="nav-item">
            <a class="nav-link" routerLink="login"><h3>Login</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register"><h3>Register</h3></a>
          </li>
        
          <li class="nav-item dropdown">
          
             <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
  <br><br>
  

<!---Home Page -->

    <!-- <head>
       <title>Food Magic</title>
       <link rel ="stylesheet" type="text/css" >
    </head>
    <body>
        <section class ="items">
            <div class ="item">
                <a routerLink="/login"><img src="./assets/images/pizzahome.jpeg"></a>
                <h4>Pizza</h4>
            </div>
            <div class ="item">
                <a href="Burger.html"><img src="./assets/images/burgerhome.jpeg"></a>
                <h4>Burger</h4>
            </div>
            <div class ="item">
                <a href="Pasta.html"><img src="./assets/images/pastahome.jpeg"></a>
                <h4>Pasta</h4>
            </div>
            <div class ="item">
                <a href="Sandwich.html"><img src="./assets/images/sandwichhome.jpeg"></a>
                <h4>Sandwich</h4>
            </div>
            <div class ="item">
                <a href = "Coffee.html"><img src="./assets/images/coffeehome.jpeg"></a>
                <h4>Coffee</h4>
            </div>
            <div class ="item">
                <a href="Biscuit.html"><img src="./assets/images/biscuithome.jpeg"></a>
                <h4>Biscuits</h4>
            </div>
        </section> -->

