<!-- <head>
    <title>Food Magic</title>
    <link rel ="stylesheet" type="text/css" >
 </head>
 <body>
     <section class ="items">
         <div class ="item">
             <a routerLink="/login"><img src="./assets/images/pizzahome.jpeg"></a>
             <h4>Pizza</h4>
         </div>
         <div class ="item">
             <a href="Burger.html"><img src="./assets/images/burgerhome.jpeg"></a>
             <h4>Burger</h4>
         </div>
         <div class ="item">
             <a href="Pasta.html"><img src="./assets/images/pastahome.jpeg"></a>
             <h4>Pasta</h4>
         </div>
         <div class ="item">
             <a href="Sandwich.html"><img src="./assets/images/sandwichhome.jpeg"></a>
             <h4>Sandwich</h4>
         </div>
         <div class ="item">
             <a href = "Coffee.html"><img src="./assets/images/coffeehome.jpeg"></a>
             <h4>Coffee</h4>
         </div>
         <div class ="item">
             <a href="Biscuit.html"><img src="./assets/images/biscuithome.jpeg"></a>
             <h4>Biscuits</h4>
         </div>
     </section> -->
