

     <head>
       <title>Food Magic</title>
       <link rel ="stylesheet" type="text/css" >
    </head>
    <body>
        <section class ="items">
            <div class ="item">
                <a routerLink="/login"><img src="./assets/images/pizzahome.jpeg"></a>
                <h4>Pizza</h4>
            </div>
            <div class ="item">
                <a routerLink="/login"><img src="./assets/images/burgerhome.jpeg"></a>
                <h4>Burger</h4>
            </div>
            <div class ="item">
                <a routerLink="/login"><img src="./assets/images/pastahome.jpeg"></a>
                <h4>Pasta</h4>
            </div>
            <div class ="item">
                <a routerLink="/login"><img src="./assets/images/sandwichhome.jpeg"></a>
                <h4>Sandwich</h4>
            </div>
            <div class ="item">
                <a routerLink="/login" ><img src="./assets/images/Biryani.jpg"></a>
                <h4>Biryani</h4>
            </div>
            <div class ="item">
                <a routerLink="/login"><img src="./assets/images/Chocolate Cake.jpg"></a>
                <h4>Chocolate Cake</h4>
            </div>
        </section> 
