.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
}
.flex-box{
    width: 200ox;
    height: 200px;
    text-align: center;
   margin:10px;
}
.img-thumbnail{

 height: 200px;
}
.d-flex{
    align-items: flex-end;
}